$white:                     #fff;

$black:                     #292929;

$black-l:                   #363636;

$black-d:                   #1e1e1e;

$red:                       #e33939;
$red-d:                     #990808;


$gray-0:                    #f8f8f8;
$gray-1:                    #e6e6e6;
$gray-2:                    #bababa;
$gray-3:                    #707070;

$gray-l:                    $gray-1;

$gray-d:                    $gray-3;
$gray-d-hover:              $gray-2;
$gray-d-focus:              $gray-2;
$gray-d-active:             $gray-3;

$gray:                      $gray-2;
$gray-hover:                $gray-3;
$gray-focus:                $gray-3;
$gray-active:               $gray-2;

$blue:                      #2bb3fe;
$blue-hover:                #006bbb;
$blue-focus:                #006bbb;
$blue-active:               #004980;

$link-color:                $blue;
$link-hover:                $blue-hover;
$link-focus:                $blue-focus;
$link-active:               $blue-active;

$green:                     #17cd67;
$green-d:                   #009540;




$cl-ins:                    #ed5cff;
$cl-tw:                     #2099f4;
$cl-vk:                     #507299;
$cl-tb:                     #179cde;