mixin footer
    +b.FOOTER.section_st-footer
        +b.st-footer
            .container-fluid.pt-4.pb-6
                .container
                    +e.content
                        +e.part_main
                        +e.part_menu
                            +b.st-footer-menu
                                +e.container.grid-12
                                    +e.col.col-3
                                        +e.heading Heading
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                    +e.col.col-3
                                        +e.heading Heading
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                    +e.col.col-3
                                        +e.heading Heading
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                    +e.col.col-3
                                        +e.heading Heading
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
                                        +e.link
                                            +b.link_blue(href='#')
                                                +e.content
                                                    +e.text Menu item
