extends ../layouts/default/template


block head
    - pageSettings['pageTitle'] = 'Выход';
    - pageSettings['pageDescription'] = 'Выход';
    - pageSettings['pageKeywords'] = 'Выход';
    - pageSettings['class'] = '_logout';
    - pageSettings['navbar'] = true;
    - pageSettings['breadcrumbs'] = [{ text: 'Выход', active: true }];


block body-top-scripts


block body-bottom-scripts
    script(src='/static/js/bundle.min.js')


block content
    .container-fluid
        .container
            +e.content.grid-12
                +e.col.col-9
                    section.section
                        +b.FORM.form.js-form(id='form-user.create-1' data-action="user.logout" autocomplete="off")
                            +e.section
                                button(type='submit') Отправить
                +e.col.col-3
                    section.section
                        | test