mixin nav-bar
    +b.NAV.section_st-nav-bar
        +b.st-nav-bar
            .container-fluid
                .container
                    +e.content
                        +e.part_back-to
                            +backto
                        +b.flex-fill
                        +e.part_breadcumbs
                            +breadcrumbs